html{
    font-size: 65.5%;
    
  }
  
.para-1{
    font-size: 4rem;
}
.pre-details{
    width: auto;
    margin: 10px;
    padding: 10px;
    display:flex;
    justify-content:center;
}
.pre_details{
    padding: 10px;
    margin: 10px;
    
}
.upgrade-btn{
    width:35rem;
    height: 4rem;
   
    background-color: #039634;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}
.upgrade-btn:hover{
    cursor: pointer;
    background-color:#09ca49;
}
.para-2{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

@media (max-width:1200px) {
    html{
      font-size: 60.5%;
    } 
    .pre_details{
        padding: 8px;
        margin: 8px;
       
    }
  }
  @media (max-width:780px) {
    html{
      font-size: 45.5%;
    } 
    .pre_details{
        padding: 4px;
        margin: 4px;
       
    }
  }
  /* @media (max-width:670px) {
    html{
      font-size: 35.5%;
    } 
    .pre_details{
        padding: 3px;
        margin: 3px;
       
    }
  } */
  @media (max-width:580px) {
    html{
      font-size: 30.5%;
    } 
    .pre_details{
        padding: 2px;
        margin: 2px;
       
    }
  }
  @media (max-width:410px) {
    html{
      font-size: 25.5%;
    } 
    .pre_details{
        padding: 0px;
        margin: 1px; 
    }
  }